# Acquire and Prepare Notes

Key points of this notebook:
- total_charges contains empty strings which are dropped
- foreign key columns from the SQL database are dropped

In [24]:
import acquire

df = acquire.get_telco_data()
df

Returning saved csv file.

,Unnamed: 0,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,...,streaming_movies,contract_type_id,paperless_billing,payment_type_id,monthly_charges,total_charges,churn,contract_type,payment_type,internet_service_type
0,0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,1,...,No,2,Yes,2,65.60,593.3,No,One year,Mailed check,DSL
1,1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,1,...,Yes,1,No,2,59.90,542.4,No,Month-to-month,Mailed check,DSL
2,2,0004-TLHLJ,Male,0,No,No,4,Yes,No,2,...,No,1,Yes,1,73.90,280.85,Yes,Month-to-month,Electronic check,Fiber optic
3,3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,2,...,Yes,1,Yes,1,98.00,1237.85,Yes,Month-to-month,Electronic check,Fiber optic
4,4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,2,...,No,1,Yes,2,83.90,267.4,Yes,Month-to-month,Mailed check,Fiber optic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,7038,9987-LUTYD,Female,0,No,No,13,Yes,No,1,...,No,2,No,2,55.15,742.9,No,One year,Mailed check,DSL
7039,7039,9992-RRAMN,Male,0,Yes,No,22,Yes,Yes,2,...,Yes,1,Yes,1,85.10,1873.7,Yes,Month-to-month,Electronic check,Fiber optic
7040,7040,9992-UJOEL,Male,0,No,No,2,Yes,No,1,...,No,1,Yes,2,50.30,92.75,No,Month-to-month,Mailed check,DSL
7041,7041,9993-LHIEB,Male,0,Yes,Yes,67,Yes,No,1,...,Yes,3,No,2,67.85,4627.65,No,Two year,Mailed check,DSL
7042,7042,9995-HOTOH,Male,0,Yes,Yes,63,No,No phone service,1,...,Yes,3,No,1,59.00,3707.6,No,Two year,Electronic check,DSL

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                7043 non-null   int64
 1   customer_id               7043 non-null   object
 2   gender                    7043 non-null   object
 3   senior_citizen            7043 non-null   int64
 4   partner                   7043 non-null   object
 5   dependents                7043 non-null   object
 6   tenure                    7043 non-null   int64
 7   phone_service             7043 non-null   object
 8   multiple_lines            7043 non-null   object
 9   internet_service_type_id  7043 non-null   int64
 10  online_security           7043 non-null   object
 11  online_backup             7043 non-null   object
 12  device_protection         7043 non-null   object
 13  tech_support              7043 non-null   object
 14  streaming_tv              7043 non-null   object
 15  streaming_movies          7043 non-null   object
 16  contract_type_id          7043 non-null   int64
 17  paperless_billing         7043 non-null   object
 18  payment_type_id           7043 non-null   int64
 19  monthly_charges           7043 non-null   float64
 20  total_charges             7043 non-null   object
 21  churn                     7043 non-null   object
 22  contract_type             7043 non-null   object
 23  payment_type              7043 non-null   object
 24  internet_service_type     7043 non-null   object
dtypes: float64(1), int64(6), object(18)
memory usage: 1.3+ MB

In [26]:
df[df.total_charges == ' ']

,Unnamed: 0,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,...,streaming_movies,contract_type_id,paperless_billing,payment_type_id,monthly_charges,total_charges,churn,contract_type,payment_type,internet_service_type
945,945,1371-DWPAZ,Female,0,Yes,Yes,0,No,No phone service,1,...,No,3,No,4,56.05,,No,Two year,Credit card (automatic),DSL
1731,1731,2520-SGTTA,Female,0,Yes,Yes,0,Yes,No,3,...,No internet service,3,No,2,20.00,,No,Two year,Mailed check,None
1906,1906,2775-SEFEE,Male,0,No,Yes,0,Yes,Yes,1,...,No,3,Yes,3,61.90,,No,Two year,Bank transfer (automatic),DSL
2025,2025,2923-ARZLG,Male,0,Yes,Yes,0,Yes,No,3,...,No internet service,2,Yes,2,19.70,,No,One year,Mailed check,None
2176,2176,3115-CZMZD,Male,0,No,Yes,0,Yes,No,3,...,No internet service,3,No,2,20.25,,No,Two year,Mailed check,None
2250,2250,3213-VVOLG,Male,0,Yes,Yes,0,Yes,Yes,3,...,No internet service,3,No,2,25.35,,No,Two year,Mailed check,None
2855,2855,4075-WKNIU,Female,0,Yes,Yes,0,Yes,Yes,1,...,No,3,No,2,73.35,,No,Two year,Mailed check,DSL
3052,3052,4367-NUYAO,Male,0,Yes,Yes,0,Yes,Yes,3,...,No internet service,3,No,2,25.75,,No,Two year,Mailed check,None
3118,3118,4472-LVYGI,Female,0,Yes,Yes,0,No,No phone service,1,...,No,3,Yes,3,52.55,,No,Two year,Bank transfer (automatic),DSL
4054,4054,5709-LVOEQ,Female,0,Yes,Yes,0,Yes,No,1,...,Yes,3,No,2,80.85,,No,Two year,Mailed check,DSL
5433,5433,7644-OMVMY,Male,0,Yes,Yes,0,Yes,No,3,...,No internet service,3,No,2,19.85,,No,Two year,Mailed check,None

total_charges is an object because there are values with an empty string.  There are a total of 11 of these rows; these are rows representing customers that have no tenure.  There are two options here:

1. set the value to $0.00 since there has been no monthly charge on these customers
2. drop the rows

I chose to drop the rows because there are only 11 of them, and none of them have churned.

The other columns that are dropped are the foreign keys which are remenants from the SQL database: 'internet_service_type_id', 'contract_type_id', and 'payment_type_id'.

In [27]:
#perform the above cleaning in a seperate module
import prepare

df = prepare.prep_telco(df)

/opt/homebrew/anaconda3/lib/python3.9/site-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   customer_id            7032 non-null   object
 1   gender                 7032 non-null   object
 2   senior_citizen         7032 non-null   int64
 3   partner                7032 non-null   object
 4   dependents             7032 non-null   object
 5   tenure                 7032 non-null   int64
 6   phone_service          7032 non-null   object
 7   multiple_lines         7032 non-null   object
 8   online_security        7032 non-null   object
 9   online_backup          7032 non-null   object
 10  device_protection      7032 non-null   object
 11  tech_support           7032 non-null   object
 12  streaming_tv           7032 non-null   object
 13  streaming_movies       7032 non-null   object
 14  paperless_billing      7032 non-null   object
 15  monthly_charges        7032 non-null   float64
 16  total_charges          7032 non-null   float64
 17  churn                  7032 non-null   object
 18  contract_type          7032 non-null   object
 19  payment_type           7032 non-null   object
 20  internet_service_type  7032 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

In [30]:
df[df.total_charges == ' ']

Empty DataFrame
Columns: [customer_id, gender, senior_citizen, partner, dependents, tenure, phone_service, multiple_lines, online_security, online_backup, device_protection, tech_support, streaming_tv, streaming_movies, paperless_billing, monthly_charges, total_charges, churn, contract_type, payment_type, internet_service_type]
Index: []

[0 rows x 21 columns]

In [21]:
train, val, test = prepare.split_telco_data(df)
(train.churn == 'Yes').mean()

0.2652802434694395